@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <ol>
        <li>
            <label asp-for="@IndexModel.NewTodo.description"></label>
            <input asp-for="@IndexModel.NewTodo.description">
            <span asp-validation-for="@IndexModel.NewTodo.description"></span>
        </li>
        <li>
            <button>Add Todo</button>
        </li>
    </ol>
</form>

@if(Model.todoList is not null)
{
    <table>
        <thead>
            <tr>
                <th>Done</th>
                <th>What</th>            
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Model.todoList)
            {                
                <tr>                     
                    <td>@Html.CheckBox("done", todo.done)</td>
                    <td>@todo.description</td>            
                    <td>@todo.dueDate.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>Whaaaaaaaaaaaaaaat</h1>
}









